# ==========================================
# SECRETS ET CONFIGURATIONS SENSIBLES
# ==========================================
.env
.env.*
!.env.example
*.pem
*.key
*.p12

# ==========================================
# ENVIRONNEMENTS VIRTUELS ET PYTHON
# ==========================================
venv/
.venv/
env/
ENV/
build/
dist/
*.egg-info/
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# BASE DE DONNÉES ET DATA LOCALES
# ==========================================
*.sqlite3
*.db
postgres_data/
data/raw/
data/processed/

# ==========================================
# DOCKER & LOGS
# ==========================================
*.log
logs/
.docker/

# ==========================================
# FICHIERS D'ÉDITEURS ET SYSTÈME (IDE)
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db